* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
  }

  ul, ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }

  .li__nav{
    font-size: .8rem;
    padding: 10px;
  }

  .my-card{
    margin: 30px;
    padding: 10px;
  }

  .btn-addcarry{
    background-color: lightgreen;
    font-size: .8rem;
  }

  .btn-container{
    position: relative;
    z-index: 10;
  }

  .btn-nav{
    position: absolute;
    right: 80px;
    top: 35px;
  }

  .btn-log{
    position: absolute;
    right: 140px;
    top: 35px;
  }


  .logo{
    color: olive;
    font-size: 3rem;;
    padding: 15px;
  }